@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    max-width: 1140px;
    margin: 0 auto;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:;
  font-style: normal;
}


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.logo{
    width: 135px;
    height:82px ;
}
#home{font-weight: bold;}
.sa{color:rgba(137, 135, 161, 1) ;}
.display-flex{
    display: flex;
}

.text-gray{
    color:#252432 ;
}
.text-light-gray{
    color: #8987A1;
}

.navbar{
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.2);
    height: 78px;
    
    
}
.nav-link{
text-decoration: none;
font-size:16px ;
margin: 0 12px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}
.bnimg{
    width:570 px;
    height: 355px;
}
.bn, .latesto{
    color: #E95A08;
}
.bn1{
   
    margin-top: 143px;
}
.bn1, .plants, .latestf{
    font-size: 40px;}

.bbn, .bn{
    margin-top: 700px;
}    
.plants{margin-top:226px ;}
.bn2, .plants2, .flowert2, .latest2{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
#our{color: #E95A08;}
.usd{font-weight: bold;}
.top{height: ;}
.sample-flower{
    display: flex;
    gap: 15px;
    list-style: none;
}
.another{margin-top: 15px;}
.button{background-color:#E95A08 ;
width: 270px;
height: 40px;
color: white;
border: none;}
.flower-lover{
    margin-top: 170px;
}
#flower-store{ margin-left: 36px;
height:540px ;
width: 597px;
}
#badge{
    position: absolute;
    height: 286px;
    width: 286px; 
    top:1970px ;
    bottom: px;
    right:520px ;
    animation: forwards;
    
    
    
}
.flowert{
    margin-left: 47px;
    font-size: 30px;
}
.flowert2{
    margin-left: 660px;
}
.latest{
    margin-top: 170px;
}
.card-image{
    margin-top: 90px;
    gap: 10px;
    display: grid;
    grid-template-columns: ;
    
}
.card-image2{
    border-radius: 20px;
    gap: ;
}
#p{background-image: url(assets/);}